html
  display block
  position relative
  width 100%
  height 100%
body
  display block
  position relative
  width 100%
  height 100%
  margin 0
#__next
  display block
  position relative
  width 100%
  height 100%
h1
  font-family $primary-font
  color $dark-primary-color
  margin 0
h2
  font-family $primary-font
  color $dark-primary-color
  margin 0
h3
  font-family $primary-font
  color $dark-primary-color
  margin 0
h4
  font-family $primary-font
  color $dark-primary-color
  margin 0
h5
  font-family $primary-font
  color $dark-primary-color
  margin 0
h6
  font-family $primary-font
  color $dark-primary-color
  margin 0
p
  font-family $primary-font
  color $dark-primary-color
  margin 0
a
  font-family $primary-font
  color $dark-primary-color
  margin 0
button
  font-family $primary-font
  color $dark-primary-color
