#about-us
  display block
  position relative
  width 100%
  padding 70px 7% 105px
  background-color $dark-primary-color
  background-image url("/img/about-us/background.jpg")
  background-repeat no-repeat
  background-position right
  > .title
    display block
    position relative
    width 660px
    margin-bottom 28px
    > .text
      display block
      position relative
      color $light-color
      font-size 42px
      line-height 1
      text-transform uppercase
    > .line
      display block
      position relative
      width 70px
      height 3px
      background-color $primary-color
  > .content
    display block
    position relative
    width 660px
    > .text
      font-size 17px
      line-height 1.5
      color $light-color
      font-family $secondary-font
      margin-bottom 21px
    > .action
      display inline-block
      position relative
      border 0
      font-size 17px
      padding 10px 24px
      border-radius 24px
      line-height 1
      text-transform uppercase
      background-color $light-color
      font-family $secondary-font
      font-weight 500
      color $dark-primary-color
      cursor pointer
      text-decoration none
      transition-timing-function ease
      transition-duration .3s
      vertical-align bottom
      &:hover
        padding 10px 31px
        transition-duration .1s
      > .icon
        display inline-block
        position relative
        font-size 24px
        line-height 20px
        vertical-align bottom

