#branches
  display block
  position relative
  width 100%
  padding 105px 7% 140px
  background-color $light-color
  > .title
    display block
    position relative
    width 100%
    margin-bottom 35px
    > .text
      display block
      position relative
      color $dark-primary-color
      font-size 42px
      line-height 1
      text-transform uppercase
    > .line
      display block
      position relative
      width 70px
      height 3px
      background-color $primary-color
  > .map
    display block
    position relative
    width 100%
    > .here
      display inline-block
      position relative
      width calc(30% - 28px)
      margin-right 28px
      vertical-align top
      > .title
        font-size 28px
        margin-bottom 14px
        text-transform uppercase
      > .description
        font-size 17px
        font-family $secondary-font
        line-height 1.3
      > .list
        display inline-block
        position relative
        color $dark-primary-color
        > .item
          font-size 17px
          font-family $secondary-font
          color $dark-primary-color
          line-height 1.3
    > .google
      display inline-block
      position relative
      width 70%
      vertical-align top
      height 400px
