#call-to-action
  display block
  position relative
  width 100%
  padding 70px 7%
  background-color $primary-color
  background-image url("/img/call-to-action/background.png")
  background-position bottom
  background-size cover
  text-align center
  > .phrase
    font-size 42px
    line-height 1
    color $light-color
    text-transform uppercase
  > .form
    display block
    position relative
    width 350px
    margin 21px auto 0
    > .field
      display inline-block
      position relative
      width 210px
      border 0
      background-color $light-color
      border-bottom 3px solid $light-color
      padding 7px 24px
      font-size 17px
      line-height 1
      color $dark-primary-color
      font-family $secondary-font
      vertical-align top
      border-top-left-radius 24px
      border-bottom-left-radius 24px
      &::placeholder
        color rgba(51,51,51,.85)
    > .action
      display inline-block
      position relative
      border 0
      font-size 17px
      border-top-right-radius 24px
      border-bottom-right-radius 24px
      padding 10px 24px
      line-height 1
      border-left 1px solid $primary-color
      text-transform uppercase
      background-color $light-color
      font-family $secondary-font
      font-weight 500
      color $primary-color
      cursor pointer
      text-decoration none
      vertical-align top

