#categories
  display block
  position relative
  width 100%
  padding 105px 7% 140px
  background-color $light-color
  > .title
    display block
    position relative
    width 100%
    margin-bottom 21px
    > .text
      display block
      position relative
      color $dark-primary-color
      font-size 42px
      line-height 1
      text-transform uppercase
    > .line
      display block
      position relative
      width 70px
      height 3px
      background-color $primary-color
  > .products
    display block
    position relative
    width 100%
    > .card
      display inline-block
      position relative
      width calc(50% - 21px)
      padding 21px
      text-align center
      border-bottom 7px solid $dark-primary-color
      cursor pointer
      font-size 28px
      color $dark-primary-color
      text-transform uppercase
      text-decoration none
      z-index 10
      transition-timing-function ease
      transition-duration .3s
      &:first-child
        margin-right 21px
      &:last-child
        margin-left 21px
      &:hover
        border-bottom-color $primary-color
        transition-duration .1s
        > .image
          transform scale(1.05)
          transition-duration .1s
      > .image
        display block
        position relative
        width 100%
        max-width 400px
        margin 21px auto
        z-index 5
        transition-timing-function ease
        transition-duration .3s
