#contact-us
  display block
  position relative
  width 100%
  padding 49px 7%
  background-color $dark-primary-color
  > .title
    display inline-block
    position relative
    width 100%
    text-align center
    font-size 35px
    margin-bottom 14px
    color $light-color
    text-transform uppercase
  > .column
    display inline-block
    position relative
    width 33.3333%
    text-align center
    > .icon
      display inline-block
      position relative
      vertical-align middle
      margin-bottom 7px
      font-size 49px
      color $light-color
    > .link
      display inline-block
      position relative
      vertical-align middle
      font-family $secondary-font
      font-size 21px
      color $light-color

