#footer
  display block
  position relative
  padding 21px 7%
  background-color $dark-primary-color
  > .notice
    margin-bottom 14px
    font-size 21px
    line-height 1
    color $light-color
    text-transform uppercase
  > .disclaimer
    font-size 14px
    line-height 1.3
    width 70%
    color $light-color
    opacity .8
    font-family $secondary-font
