#header-card
  display block
  position relative
  width 100%
  height 63%
  background-color $dark-primary-color
  background-image url("/img/header-card/background.png")
  background-position center
  background-size cover
  > .title-box
    display block
    position absolute
    width 100%
    height 59px
    margin auto
    padding 0 7%
    top 0
    bottom 0
    > .title
      font-size 49px
      line-height 1
      color $light-color
      text-transform uppercase
    > .line
      display block
      position relative
      width 70px
      height 3px
      margin-top 7px
      background-color $primary-color

