#header
  display block
  position relative
  width 100%
  height 100%
  background-image url("/img/header/background.jpg")
  background-position center
  background-size cover
  > .overlay
    display block
    position relative
    width 100%
    height 100%
    background-color rgba(0,0,0,.1)
    > .box
      display block
      position absolute
      margin auto
      top 0
      bottom 0
      left 0
      right 0
      width 800px
      height 152px
      text-align center
      > .phrase
        color $light-color
        text-transform uppercase
        font-size 70px
        text-shadow 1px 1px 7px rgba(51,51,51,.35)
      > .action
        display inline-block
        position relative
        border 0
        font-size 21px
        padding 14px 28px
        border-radius 28px
        line-height 1
        text-transform uppercase
        background-color $primary-color
        font-family $secondary-font
        font-weight 500
        color $light-color
        cursor pointer
        text-decoration none
        transition-duration .3s
        &:hover
          padding 14px 35px
          transition-duration .1s
    > .controls
      display block
      position absolute
      left 0
      bottom 0
      width 100%
      text-align center
      > .anchor
        display inline-block
        position relative
        color $light-color
        > .icon
          font-size 70px
