#mission-vision
  display block
  position relative
  width 100%
  padding 105px 7% 140px
  background-color $light-color
  > .title
    display block
    position relative
    width 100%
    margin-bottom 35px
    > .text
      display block
      position relative
      color $dark-primary-color
      font-size 42px
      line-height 1
      text-transform uppercase
    > .line
      display block
      position relative
      width 70px
      height 3px
      background-color $primary-color
  > .content
    display block
    position relative
    width 100%
    > .column
      display inline-block
      position relative
      width calc(50% - 28px)
      vertical-align top
      &:first-child
        margin-right 28px
      &:last-child
        margin-left 28px
      > .title
        margin-top 42px
        font-size 28px
        text-transform uppercase
        &:first-child
          margin-top 0
      > .description
        margin 14px 0
        font-size 17px
        font-family $secondary-font
        line-height 1.3
      > .photo
        width 100%
        box-shadow 0 8px 16px 0 rgba(0,0,0,0.2)
