#navbar
  display block
  position absolute
  width 100%
  height 77px
  > .nav
    display block
    position fixed
    width 100%
    height 77px
    padding 0 7%
    background-color $dark-primary-color
    z-index 100
    > .logotype
      display inline-block
      position relative
      width 50%
      vertical-align middle
      > .text
        display inline-block
        position relative
        padding 3px 14px
        line-height 1
        border 3px solid $light-color
        color $light-color
        font-size 35px
        text-decoration none
        > .accent
          color $primary-color
    > .links
      display inline-block
      position relative
      width 50%
      vertical-align middle
      height 100%
      text-align right
      > .link
        color $light-color
        font-size 17px
        line-height 77px
        margin 0 21px
        font-family $secondary-font
        font-weight 400
        text-transform uppercase
        text-decoration none
        &:first-child
          margin-left 0
        &:last-child
          margin-right 0
        &.active
          font-weight 500
          color $primary-color

