#novelties
  display block
  position relative
  width 100%
  background-color $primary-color
  > .column
    display inline-block
    position relative
    width 33.3333%
    vertical-align middle
    &.text
      text-align center
      > .phrase
        font-size 35px
        color $light-color
        text-transform uppercase
        margin-bottom 3px
      > .action
        display inline-block
        position relative
        border 0
        font-size 17px
        padding 10px 24px
        border-radius 24px
        line-height 1
        text-transform uppercase
        background-color $light-color
        font-family $secondary-font
        font-weight 500
        color $primary-color
        cursor pointer
        text-decoration none
        transition-timing-function ease
        transition-duration .3s
        vertical-align bottom
        &:hover
          padding 10px 31px
          transition-duration .1s
        > .icon
          display inline-block
          position relative
          font-size 24px
          line-height 20px
          vertical-align bottom
    &.photo
      background-position center
      background-size cover
      height 300px
      &:first-child
        background-image url("/img/novelties/mountain-one.jpg")
      &:last-child
        background-image url("/img/novelties/mountain-two.jpg")
