#payment-table
  display block
  position relative
  width 100%
  padding 70px 7% 105px
  background-color $light-color
  > .title
    display block
    position relative
    width 100%
    margin-bottom 21px
    > .text
      display block
      position relative
      color $dark-primary-color
      font-size 42px
      line-height 1
      text-transform uppercase
    > .line
      display block
      position relative
      width 70px
      height 3px
      background-color $primary-color
  > .table
    display block
    position relative
    width 100%
    height calc(100% - 148px)
    overflow-x auto
    > .row
      display block
      position relative
      width 100%
      margin 7px 0
      &.header
        > .column
          text-transform uppercase
          font-weight 500
      &.footer
        padding 14px 0
        border-top 3px solid #eee
        > .column
          text-transform uppercase
          font-weight 500
      > .column
        display inline-block
        position relative
        padding 3px
        font-family $secondary-font
        color $dark-primary-color
        vertical-align middle
        &:first-child
          width 5%
        &:nth-child(2)
          width 10%
        &:nth-child(3)
          width 40%
        &:nth-child(4)
          width 40%
        &:last-child
          width 5%
        > .image
          display inline-block
          width 70%
        > .action
          display inline-block
          position relative
          border 0
          background-color transparent
          cursor pointer
          padding 0
          > .icon
            color primary-color
            line-height 30px
  > .controls
    display block
    position relative
    width 100%
    margin-top 28px
    text-align right
    > .action
      display inline-block
      position relative
      border 0
      font-size 17px
      padding 10px 24px
      border-radius 24px
      line-height 1
      text-transform uppercase
      background-color $primary-color
      font-family $secondary-font
      font-weight 500
      color $light-color
      cursor pointer
      text-decoration none
      transition-timing-function ease
      transition-duration .3s
      vertical-align bottom
      &:hover
        padding 10px 31px
        transition-duration .1s
  > .overlay
    display block
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    z-index 210
    background-color rgba(51,51,51,.7)
    > .wrapper
      display block
      position relative
      width 100%
      height 100%
      > .modal
        display block
        position absolute
        width 100%
        max-width 640px
        min-width 280px
        height 100%
        max-height 224px
        padding 21px
        margin auto
        top 0
        bottom 0
        left 0
        right 0
        border-radius 7px
        background-color $light-color
        box-shadow 0 8px 16px 0 rgba(0,0,0,0.2)
        > .controls
          display block
          position relative
          width 100%
          text-align right
          > .action
            display inline-block
            position relative
            padding 0
            height 24px
            border 0
            border-radius 50%
            background-color transparent
            color $primary-dark-color
            cursor pointer
         > .title
          display block
          position relative
          margin-bottom 21px
          width 100%
          > .text
            font-size 28px
            text-transform uppercase
          > .line
            display block
            width 70px
            height 3px
            background-color $primary-color
        > .content
          display block
          position relative
          width 100%
          > .notice
            font-size 17px
            font-family $secondary-font
            line-height 1.3
        > .footer
          display block
          position relative
          margin-top 21px
          > .action
            display inline-block
            position relative
            border 0
            font-size 17px
            padding 10px 24px
            border-radius 24px
            line-height 1
            text-transform uppercase
            background-color $primary-color
            font-family $secondary-font
            font-weight 500
            color $light-color
            cursor pointer
            text-decoration none
            transition-timing-function ease
            transition-duration .3s
            vertical-align bottom
            &:hover
              padding 10px 31px
              transition-duration .1s
