#product-selection
  display block
  position relative
  width 100%
  padding 70px 7% 105px
  > .title
    display block
    position relative
    width 100%
    margin-bottom 35px
    > .text
      display block
      position relative
      color $dark-primary-color
      font-size 42px
      line-height 1
      text-transform uppercase
    > .line
      display block
      position relative
      width 70px
      height 3px
      background-color $primary-color
  > .content
    display block
    position relative
    width 100%
    > .title
      font-size 35px
      text-transform uppercase
    > .line
      display block
      position relative
      width 100%
      height 3px
      margin-bottom 28px
      background-color $primary-color
    > .category
      display block
      position relative
      width 100%
      padding 21px 0
      margin-bottom 42px
      &.bikes
        > .card
          width 50%
      &.helmets
        > .card
          width 33.3333%
      > .title
        font-size 28px
        text-transform uppercase
      > .card
        display inline-block
        position relative
        padding 28px
        vertical-align top
        text-align center
        > .image
          display inline-block
          position relative
          width 100%
          max-width 400px
        > .details
          display inline-block
          position relative
          width 100%
          > .title
            display inline-block
            font-size 21px
            margin-bottom 14px
            text-transform uppercase
            border-bottom 3px solid $primary-color
          > .price
            font-size 17px
            margin-bottom 7px
            font-family $secondary-font
            font-weight 500
            &.discount
              text-decoration line-through
          > .description
            font-size 17px
            margin-bottom 14px
            font-family $secondary-font
            line-height 1.3
          > .action
            display inline-block
            position relative
            border 0
            font-size 17px
            padding 10px 24px
            border-radius 24px
            line-height 1
            text-transform uppercase
            background-color $primary-color
            font-family $secondary-font
            font-weight 500
            color $light-color
            cursor pointer
            text-decoration none
            transition-timing-function ease
            transition-duration .3s
            vertical-align bottom
            &:hover
              padding 10px 31px
              transition-duration .1s


