#shopping-cart
  display block
  position fixed
  bottom 0
  right 0
  padding 28px
  background-color transparent
  z-index 140
  > .controls
    > .action
      display inline-block
      position relative
      width 70px
      height 70px
      padding 0
      border 0
      border-radius 50%
      font-size 24px
      line-height 70px
      font-family $secondary-font
      background-color $light-color
      box-shadow 0 8px 16px 0 rgba(0,0,0,0.2)
      cursor pointer
      > .icon
        display inline-block
        line-height 70px
        vertical-align top
      > .items
        display block
        position absolute
        top 0
        right 0
        height 21px
        width 21px
        font-size 14px
        line-height 21px
        color $light-color
        font-family $secondary-font
        background-color $primary-color
        border-radius 50%
        box-shadow 0 8px 16px 0 rgba(0,0,0,0.1)
  > .overlay
    display block
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    z-index 210
    background-color rgba(51,51,51,.7)
    > .wrapper
      display block
      position relative
      width 100%
      height 100%
      > .modal
        display block
        position absolute
        width 100%
        max-width 640px
        min-width 280px
        height 100%
        max-height 360px
        padding 21px
        margin auto
        top 0
        bottom 0
        left 0
        right 0
        border-radius 7px
        background-color $light-color
        box-shadow 0 8px 16px 0 rgba(0,0,0,0.2)
        > .controls
          display block
          position relative
          width 100%
          text-align right
          > .action
            display inline-block
            position relative
            padding 0
            height 24px
            border 0
            border-radius 50%
            background-color transparent
            color $primary-dark-color
            cursor pointer
         > .title
          display block
          position relative
          margin-bottom 21px
          width 100%
          > .text
            font-size 28px
            text-transform uppercase
          > .line
            display block
            width 70px
            height 3px
            background-color $primary-color
        > .table
          display block
          position relative
          width 100%
          height calc(100% - 148px)
          overflow-x auto
          > .row
            display block
            position relative
            width 100%
            margin 7px 0
            &.header
              > .column
                text-transform uppercase
                font-weight 500
            > .column
              display inline-block
              position relative
              width 33.3333%
              font-family $secondary-font
              color $dark-primary-color
              vertical-align middle
              &:first-child
                width 50%
              &:nth-child(2)
                width 40%
              &:last-child
                width 10%
              > .action
                display inline-block
                position relative
                border 0
                background-color transparent
                cursor pointer
                padding 0
                > .icon
                  color primary-color
                  line-height 30px
        > .footer
          display block
          position relative
          text-align right
          margin-top 21px
          > .action
            display inline-block
            position relative
            border 0
            font-size 17px
            padding 10px 24px
            border-radius 24px
            line-height 1
            text-transform uppercase
            background-color $primary-color
            font-family $secondary-font
            font-weight 500
            color $light-color
            cursor pointer
            text-decoration none
            transition-timing-function ease
            transition-duration .3s
            vertical-align bottom
            &:hover
              padding 10px 31px
              transition-duration .1s
